body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	color: #ffffff;
	background-color: #222222;
}

h4, h5 {
	text-align: center;
	margin: 0;
	width: 100%;
}

h5 {
	margin-top: 10px;
}

#graph-container {
	margin: 1em;
	padding: 0;
	border: 1px solid #ffffff;
	display: flex;
	flex-grow: 1;
}

#sidebar {
	margin: 1em;
	padding: 1em;
	border: 1px solid #ffffff;
	display: flex;
	flex-direction: column;
	width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#graph {
	width: 100%;
	height: 100%;
}

@media(max-width: 600px) {
	body {
		flex-direction: column;
	}
	#graph-container {
		order: 2;
		height: 100%;
	}
	#sidebar {
		order: 1;
		width: auto;
		height: auto;
	}
}

.hide {
	display: none !important;
}

.form {
	display: flex;
	flex-direction: column;
	min-height: 100px;
}

.form > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.form > div > * {
	display: flex;
	margin: 4px;
}

.form > div > label {
	min-width: 50px;
}

.form > div > input, .form > div > select {
	flex-grow: 1;
	flex-shrink: 1;
}

input, select {
	background: #000000;
	border: 1px solid #ffffff;
	color: #ffffff;
	padding: 4px;
}
