$ge-node-fg:          #888 !default;
$ge-node-bg:          #111 !default;
$ge-node-hover-fg:    #fff !default;
$ge-node-hover-bg:    #333 !default;

$ge-link-fg:          #888 !default;
$ge-link-hover-fg:    #fff !default;

$ge-dragline-fg:      #a44 !default;

$ge-selection-fg:     #aae !default;
$ge-selected-link-fg: #ada !default;
$ge-selected-node-bg: #111 !default;

$ge-unselected-fg:    $ge-node-fg !default;
$ge-unselected-bg:    $ge-node-bg !default;

@import "graph-editor";
